<?xml version="1.0"?>
<model>
  <name>HE Huldra Simplified</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Lucas Junqueira</name>
    <email>lucas.junqueira@aln.senaicimatec.edu.br</email>
  </author>
  <description>Cenario simplificado da secao HE da plataforma Huldra em formato STL para testes de locomocao e navegacao.</description>
</model>
